@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 1080px;
  margin: 40px auto;
  padding: 20px;
}

td, tr {
  padding: 20px;
  margin: auto;
}

.td {
  margin: auto;
}
input {
  height: 30px;
  width: 250px;
}

select {
  height: 40px;
  width: 259px;
}


table {
  align-items: center;
  padding:20px;
  margin-top:10px;
  margin-left: 200px;
  width: auto;
  max-width: 600px;
  /* border:1px solid gray; */
}

.home button {
  color:white;
  background-color:#f1356d;
  border-radius:8px;
  padding: 10px;
  margin-left:250px;
  margin-top:30px;
  width:130px;
  font-size:15px;
  font-weight:bold;
}
.Booking button {
  color:white;
  background-color:#f1356d;
  border-radius:8px;
  padding: 10px;
  margin-left:250px;
  margin-top:30px;
  width:130px;
  font-size:15px;
  font-weight:bold;
}

.Booking button:disabled {
  color:white;
  background-color:gray;
  border-radius:8px;
  padding: 10px;
  margin-left:250px;
  margin-top:30px;
  width:130px;
  font-size:15px;
  font-weight:bold;
}
