@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar{
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.navbar button {
  margin-left: 16px;
  padding: 6px;
  color: #333;
  background-color: white;
  border: none;
  cursor:pointer; 
  font-size: 18px;
}
.navbar button:hover {
  font-weight: bold;
  color:white;
  background-color:#f1356d;
  border-radius:8px;
}
.content {
  max-width: 1080px;
  margin: 40px auto;
  padding: 20px;
}